.payment_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment_container h2{
    text-align: center;
    font-size: 1.3rem;
    color: var(--alternative_font_color)
}

.payment_contianer_form{
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--border_color);
    border-radius: 3px;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.form_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form_data label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.form_data p{
    margin: 5px 15px;
    font-size: 1rem;
    color: var(--alternative_font_color)
}

.payment_input{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    padding: 0 5px;
    font-size: 1.2rem;
    background-color: var(--inputs_main_color);
    color: white;
    outline: none;
}

.payment_confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.payment_confirm .cancel_buy{
    width: 70%;
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    color: white
}

.pay{
    width: 70%;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #16bf62;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cancel_buy{
    background-color: transparent;
    border: 1px solid white;
}


/* states */

.good{
    border:2px solid #16bf62;
}

.bad{
    border:2px solid red;
}

.pay_block{
    width: 70%;
    height: 35px;
    margin: 0;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #7bd4a3;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_user{
    display: none;
}

@media screen and (min-width: 1000px){
    
    .payment_contianer_form{
        flex-direction: row;
        border: none;
    }

    .form_helper{
        width: 70%;
        border: 1.5px solid var(--border_color);
    }

    .payment_confirm{
        width: 30%;
    }

    .container_user{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        border: 2px solid var(--border_color);
        font-size: .8rem;
    }



}