:root{
   --main_color: #16202a;
   --main_text-color: #ffff;
   --font_texts-color: #253340;
   --border_color:  #253340;
   --button_main_color: #1da2f2;
}


body{
    margin: 0;
    padding: 0;
    font-size: 65.5%;
    width: 100%;
    background-color: var(--main_color);
    color: var(--main_text-color);
    font-family: sans-serif;
}

